players/*
worlds/*
plugins/*
bin/*
timings/*
*.log
*.phar
server.properties
/pocketmine.yml
*.txt
/extra.yml
crashdumps/*
.idea/*
nbproject/*
Thumbs.db
Desktop.ini
.DS_Store
/nbproject/private/
/docs/build/
!/docs/requirements.txt
.project
